/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
     */
:root {
    --very-dark-brown: #2D2525;
    --primary-purple: #A6728A;
    --grey: #AAAAAA;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 48px;
    --spacing-3xl: 66px;

    --heading-1: 61px;
    --heading-2: 49px;
    --heading-3: 39px;
    --heading-4: 31px;
    --heading-5: 25px;
    --heading-6: 20px;

    --paragraph: 16px;
    --body-small: 13px;
    --caption: 10px;
}

h2, h3, h4, h5, h6 {
    color: var(--primary-purple);
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: calc(var(--heading-1) / 1.7);
}

h2 {
    font-size: calc(var(--heading-2) / 1.7 );
}

h3 {
    font-size: calc(var(--heading-3) / 1.7);
}

h4 {
    font-size: calc(var(--heading-4) / 1.3);
}

h5 {
    font-size: calc(var(--heading-5) / 1.2);
}

h6 {
    font-size: calc(var(--heading-6) / 1.1);
}

p, button {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.paragraph {
    font-size: calc(var(--paragraph) / 1.15 );
    font-weight: 500;
}

.body-small {
    font-size: var(--body-small);
}

.caption {
    font-size: var(--caption);
    color: var(--grey);
}

.primary-btn {
    background-color: var(--primary-purple);
    color: white;
    padding-block: 1rem;
    padding-inline: 3rem;
    border-radius: 3rem;
}

.logo-large {
    display: none;
}

.hero {
    background-image: url("./src/assets/rasmus-andersen-zUbbZ4BrstU-unsplash.jpg");
    background-size: cover;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px){

    .logo-large {
        display: block;
    }

    .hamburger, .logo-small {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-2xl);
    }

}