/* MOBILE FIRST, RESPONSIVE STYLING */

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

/* @tailwind base;
@tailwind components; */
@tailwind utilities;

/* @custom-variant dark (&:is(.dark *)); */

:root {
    --very-dark-brown: #2D2525;
    --primary-purple: #A6728A;
    --primary-hover: #CD8BA9;
    --secondary: #FFFEFD;
    --grey: #AAAAAA;
    --action: #D4AF37;
    --action-hover: #F3CF5A;
    --error: #A63C3C;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 48px;
    --spacing-3xl: 66px;

    --heading-1: 61px;
    --heading-2: 49px;
    --heading-3: 39px;
    --heading-4: 31px;
    --heading-5: 25px;
    --heading-6: 20px;

    --paragraph: 16px;
    --body-small: 14px;
    --caption: 11px;
    
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-purple);
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: calc(var(--heading-1) / 1.7);
}

h2 {
    font-size: calc(var(--heading-2) / 1.7 );
}

h3 {
    font-size: calc(var(--heading-3) / 1.7);
}

h4 {
    font-size: calc(var(--heading-4) / 1.3);
}

h5 {
    font-size: calc(var(--heading-5) / 1.2);
}

h6 {
    font-size: calc(var(--heading-6) / 1.1);
}

.h6-brown {
    color: var(--very-dark-brown);
}

p, button, .paragraph, .nav-links {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.paragraph {
    font-size: calc(var(--paragraph) / 1.15 );
    font-weight: 400;
    color: var(--very-dark-brown)
}

.body-small {
    font-size: var(--body-small);
}

.caption {
    font-size: var(--caption);
}

input {
    background-color: var(--secondary);
    border-radius: 5px;
    border-color: var(--grey);
    border: 3px;
}

input:focus {
    border-color: var(--action);
}

.primary-btn {
    background-color: var(--primary-purple);
    color: var(--secondary);
    padding-block: .5rem;
    padding-inline: 2.8rem;
    border-radius: 2rem;
    font-weight: 300;
}

.secondary-btn {
    border: 1px solid var(--primary-purple) ;
    color: var(--primary-purple);
    padding-block: .5rem;
    padding-inline: 2.8rem;
    border-radius: 2rem;
    font-weight: 300;    
}

.primary-btn:hover {
    background-color: var(--primary-hover);
    transition: 0.1s;
}

.action-btn {
    background-color: var(--action);
    color: var(--very-dark-brown);
    padding-block: 1rem;
    padding-inline: 3rem;
    border-radius: 3rem;
}

.action-btn:hover {
    background-color: var(--action-hover);
    transition: 0.1s;
}

.logo-large {
    display: none;
}

.laptop-nav {
    display: none;
}

.hero {
    background-image: url("./src/assets/rasmus-andersen-zUbbZ4BrstU-unsplash.jpg");
    background-size: cover;
}

.laptop-hero {
    display: none;
}
/* 
.listing-cards > div {
    width: 100%;
    flex-shrink: 0;
} */

.copyright {
    display: none;
}

.footer-logo {
    align-items: normal;
}

/* Snappy Sliding Hamburger Menu from https://alvarotrigo.com/blog/hamburger-menu-css/ */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 4%;
  right: 15px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--very-dark-brown);
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%; /* slide in from the right */
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--secondary);
    box-shadow: -2px 2px 6px rgba(0, 0, 0, .4); /* shadow adjusted for right side */
    transition: right .25s ease;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  transition-duration: .25s;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    nav {
        margin: 0;
    }

    .mobile-hero, .search-form{
        width: 60%;
    }

    .listing-cards {
        /* display: grid; */
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .copyright {
        display: flex;
    }

    .footer-logo {
        align-items: center;
    }

}

/* LAPTOP */
@media screen and (min-width: 1024px){
        
    .primary-btn, .secondary-btn {
        padding-block: 1rem;
        padding-inline: 2rem;
        border-radius: 3rem;
        font-weight: 500;
    }

    h1 {
    font-size: var(--heading-1);
    }

    h2 {
        font-size: var(--heading-2) ;
    }

    h3 {
        font-size: var(--heading-3);
    }

    h4 {
        font-size: var(--heading-4);
    }

    h5 {
        font-size: var(--heading-5);
    }

    h6 {
        font-size: var(--heading-6);
    }

    .paragraph {
    font-size: var(--paragraph) ;
    font-weight: 500;
    }

    .logo-large {
        display: block;
    }

    .hamburger-menu, .logo-small {
        display: none;
    }

    nav {
        height: calc(var(--spacing) * 33)
    }

    .laptop-nav {
        display: flex;
    }

    .hero {
        height: 630px;
    }

    .laptop-hero {
        display: block;
    }

    .mobile-hero {
        display: none;
    }

    .search-items {
        flex-direction: row;
    }

    .search-form {
        flex-direction: row;
        height: 86px;
        width: 60rem;
        border-radius: 4rem;
    }
/* 
    .listing-cards {
        flex-direction: row;
    } */

    /* .listing-cards > div {
        width: 100%;
        flex-shrink: 0;
    } */

    .listing-cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));        
    }

    .copyright {
        display: flex;
    }
    
    .footer-logo {
        align-items: center;
    }

}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}