/* MOBILE FIRST, RESPONSIVE STYLING */

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
    --very-dark-brown: #2D2525;
    --primary-purple: #A6728A;
    --grey: #AAAAAA;
    --action: #D4AF37;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 48px;
    --spacing-3xl: 66px;

    --heading-1: 61px;
    --heading-2: 49px;
    --heading-3: 39px;
    --heading-4: 31px;
    --heading-5: 25px;
    --heading-6: 20px;

    --paragraph: 16px;
    --body-small: 14px;
    --caption: 12px;
    
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

h2, h3, h4, h5, h6 {
    color: var(--primary-purple);
    font-family: Playfair Display, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: calc(var(--heading-1) / 1.7);
}

h2 {
    font-size: calc(var(--heading-2) / 1.7 );
}

h3 {
    font-size: calc(var(--heading-3) / 1.7);
}

h4 {
    font-size: calc(var(--heading-4) / 1.3);
}

h5 {
    font-size: calc(var(--heading-5) / 1.2);
}

h6 {
    font-size: calc(var(--heading-6) / 1.1);
}

p, button, .paragraph {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.paragraph {
    font-size: calc(var(--paragraph) / 1.15 );
    font-weight: 500;
}

.body-small {
    font-size: var(--body-small);
}

.caption {
    font-size: var(--caption);
}

.primary-btn {
    background-color: var(--primary-purple);
    color: white;
    padding-block: 1rem;
    padding-inline: 3rem;
    border-radius: 3rem;
}

.action-btn {
    background-color: var(--action);
    color: var(--very-dark-brown);
    padding-block: 1rem;
    padding-inline: 3rem;
    border-radius: 3rem;
}

.logo-large {
    display: none;
}

.hero {
    background-image: url("./src/assets/rasmus-andersen-zUbbZ4BrstU-unsplash.jpg");
    background-size: cover;
}

.copyright {
    display: none;
}

.footer-logo {
    align-items: normal;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .copyright {
        display: flex;
    }

    .footer-logo {
        align-items: center;
    }

}

/* LAPTOP */
@media screen and (min-width: 1024px){

    .logo-large {
        display: block;
    }

    .hamburger, .logo-small {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-2xl);
    }

    .copyright {
        display: flex;
    }
    
    .footer-logo {
        align-items: center;
    }

}